[{kernel,[{inet_dist_use_interface, {127,0,0,1}}]},

 {lager, [
    {error_logger_flush_queue, false},
    {handlers, [
        {lager_console_backend, [{level, info}]},
        {lager_file_backend, [
            {file, "log/aestratum_client.log"}, {level, debug},
            {size, 4194303}, {date, "$D0"}, {count, 10}]}]}
    {extra_sinks, [
        {aeminer_lager_event, [
            {handlers, [
            {lager_file_backend, [
                {file, "log/aeminer_pow_cuckoo.log"},
                {level, info},
                {size, 4194303}, {date, "$D0"}, {count, 3}
            ]}]}
        ]}]}]},

  {sasl, [{sasl_error_logger, false}]}

].

