{minimum_otp_vsn, "20.1"}.

{erl_opts, [debug_info, {parse_transform, lager_transform},
            {lager_extra_sinks, [aestratum_client]}]}.

{deps,
    [{lager, {git, "https://github.com/erlang-lager/lager.git", {ref, "69b4ada"}}},
     {aestratum_lib, {git, "https://github.com/aeternity/aestratum_lib.git", {ref, "37b8860"}}},
     {yamerl, "0.7.0"},
     {jesse, {git, "https://github.com/for-GET/jesse.git", {ref, "9f9d050"}}}
    ]
}.

{dialyzer,
    [{warnings, [unknown]},
     {plt_apps, all_deps},
     {base_plt_apps, [erts, kernel, stdlib, crypto]}
    ]
}.

{relx,
    [{release, {aestratum_client, "0.1.0"},
      [runtime_tools,
       sasl,
       lager,
       yamerl,
       aestratum_client]},
     {extended_start_script, true},
     {overlay, [{copy, "VERSION" , "VERSION"}]}
    ]
}.

{profiles,
    [{local,
        [{relx,
            [{dev_mode, true},
             {include_erts, false},
             {include_src, true},
             {sys_config, "./config/test/sys.config"},
             {vm_args, "./config/test/vm.args"}]}]},
     {test,
        [{relx,
            [{dev_mode, true},
             {include_erts, false},
             {include_src, true},
             {sys_config, "./config/test/sys.config"},
             {vm_args, "./config/test/vm.args"}]},
             {dist_node,
                 [{setcookie, aestratum_client_cookie},
                  {sname, 'aestratum_client_test@localhost'}]},
             {deps, [{meck, "0.8.12"}]}]},
     {prod,
        [{relx,
            [{dev_mode, false},
             {include_erts, true},
             {include_src, false}]},
             {sys_config, "./config/prod/sys.config"},
             {vm_args, "./config/prod/vm.args"}]}
    ]
}.
