
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager.git",
                 {ref, "69b4ada"}}}, % tag: 3.6.7

        {aestratum_lib, {git, "https://github.com/aeternity/aestratum_lib",
                             {ref, "090feae"}}},

        {aeminer, {git, "https://github.com/aeternity/aeminer.git",
                   {ref, "97b47be"}}}

       ]}.

{profiles, [{test, [{deps, [{meck, "0.8.12"}]}]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto]}
           ]}.

