
{deps, [{aestratum_lib, {git, "https://github.com/aeternity/aestratum_lib.git", {ref, "82544d9"}}}
       ]}.

{profiles, [{test, [{deps, [{meck, "0.8.12"}]}]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto]}
           ]}.

