[{kernel,[{inet_dist_use_interface, {127,0,0,1}}]},

 {lager, [
    {error_logger_flush_queue, false},
    {handlers, [
        {lager_console_backend, [{level, debug}]},
        {lager_file_backend, [
            {file, "log/aestratum_client.log"}, {level, debug},
            {size, 4194303}, {date, "$D0"}, {count, 10}]}]}
    ]},

  {sasl, [{sasl_error_logger, false}]}].
